<section id="sobre-mi" class="py-30 px-4">
  <div class="max-w-4xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-4xl md:text-5xl font-bold mb-4">
        <span class="text-gradient-primary"> Sobre Mí </span>
      </h2>
      <div class="w-20 h-1 linear-gradient-primary mx-auto rounded-full"></div>
    </div>

    <div
      class="bg-white/4 backdrop-blur-sm rounded-2xl p-8 md:p-12 border border-white/10 shadow-2xl shadow-black/70"
    >
      <p class="text-lg text-white/80 leading-relaxed mb-6">
        Desarrollador Full Stack con 2 años de experiencia en la creación de
        aplicaciones web escalables para empresas . Durante mi trayectoria
        profesional, he trabajado con diversas tecnologías front-end y back-end,
        incluyendo .NET, Blazor, React, TypeScript, Node.js y base de datos como
        SQL Server y PostgreSQL, lo que me ha permitido construir soluciones
        eficientes y personalizadas.
      </p>

      <p class="text-lg text-white/80 leading-relaxed mb-6">
        Me apasiona el desarrollo ágil y disfruto colaborando con equipos
        multidisciplinarios para transformar ideas en productos digitales
        impactantes. Además, mantengo un enfoque constante en la mejora continua
        y la actualización de mis habilidades para adaptarme a las tendencias
        tecnológicas emergentes.
      </p>

      <p class="text-lg text-white/80 leading-relaxed mb-6">
        Mi objetivo es seguir contribuyendo al éxito de proyectos innovadores,
        aportando tanto mis conocimientos técnicos como una actitud proactiva y
        resolutiva.
      </p>

      <p class="text-lg text-white/80 leading-relaxed">
        Busco seguir desarrollándome como Desarrollador Full Stack especializado
        en entornos .NET, C# y frameworks modernos como React y Next.js.
      </p>
    </div>
  </div>
</section>
